BoundaryWebServiceClients/GeneratedCode/wsdl/BulkoperationsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://webservices.sola.org/bulkoperations" name="bulkoperations-service" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservices.sola.org/bulkoperations" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/faults/" xmlns:ns1="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="faultInfoBean">
        <xs:sequence>
          <xs:element name="faultId" type="xs:string" minOccurs="0"/>
          <xs:element name="messageCode" type="xs:string" minOccurs="0"/>
          <xs:element name="messageParameters" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="validationResultList" type="ns1:validationResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/digitalarchive/" xmlns:ns2="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="documentTO">
        <xs:complexContent>
          <xs:extension base="ns2:abstractIdTO">
            <xs:sequence>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="extension" type="xs:string" minOccurs="0"/>
              <xs:element name="nr" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/transaction/" xmlns:ns4="http://webservices.sola.org/transferobjects/" xmlns:ns3="http://webservices.sola.org/transferobjects/cadastre/" xmlns:tns="http://webservices.sola.org/transferobjects/transaction/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://webservices.sola.org/transferobjects/digitalarchive/" xmlns:ns6="http://webservices.sola.org/transferobjects/casemanagement/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/cadastre/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/digitalarchive/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/casemanagement/"/>

      <xs:complexType name="transactionBulkOperationSpatialTO">
        <xs:complexContent>
          <xs:extension base="tns:transactionTO">
            <xs:sequence>
              <xs:element name="generateFirstPart" type="xs:boolean"/>
              <xs:element name="spatialUnitTemporaryList" type="ns3:spatialUnitTemporaryTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="transactionTO">
        <xs:complexContent>
          <xs:extension base="ns4:abstractIdTO">
            <xs:sequence>
              <xs:element name="approvalDatetime" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="fromServiceId" type="xs:string" minOccurs="0"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="transactionBulkOperationSourceTO">
        <xs:complexContent>
          <xs:extension base="tns:transactionTO">
            <xs:sequence>
              <xs:element name="sourceList" type="ns6:sourceTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/casemanagement/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns7="http://webservices.sola.org/transferobjects/digitalarchive/" xmlns:ns8="http://webservices.sola.org/transferobjects/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/digitalarchive/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="sourceTO">
        <xs:complexContent>
          <xs:extension base="ns8:abstractIdTO">
            <xs:sequence>
              <xs:element name="acceptance" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="archiveDocument" type="ns7:documentTO" minOccurs="0"/>
              <xs:element name="archiveDocumentId" type="xs:string" minOccurs="0"/>
              <xs:element name="archiveId" type="xs:string" minOccurs="0"/>
              <xs:element name="availabilityStatusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="content" type="xs:string" minOccurs="0"/>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="expirationDate" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="laNr" type="xs:string" minOccurs="0"/>
              <xs:element name="locked" type="xs:boolean"/>
              <xs:element name="mainType" type="xs:string" minOccurs="0"/>
              <xs:element name="ownerName" type="xs:string" minOccurs="0"/>
              <xs:element name="recordation" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="referenceNr" type="xs:string" minOccurs="0"/>
              <xs:element name="signingDate" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="submission" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
              <xs:element name="version" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/bulkoperations" xmlns:ns9="http://webservices.sola.org/transferobjects/cadastre/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns12="http://webservices.sola.org/transferobjects/" xmlns:ns13="http://webservices.sola.org/faults/" xmlns:ns10="http://webservices.sola.org/transferobjects/transaction/" xmlns:ns11="http://webservices.sola.org/transferobjects/casemanagement/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/cadastre/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/transaction/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/casemanagement/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:import namespace="http://webservices.sola.org/faults/"/>

      <xs:element name="CheckConnection" type="tns:CheckConnection"/>

      <xs:element name="CheckConnectionResponse" type="tns:CheckConnectionResponse"/>

      <xs:element name="GetExtentOfPublicDisplayMap" type="tns:GetExtentOfPublicDisplayMap"/>

      <xs:element name="GetExtentOfPublicDisplayMapResponse" type="tns:GetExtentOfPublicDisplayMapResponse"/>

      <xs:element name="GetTransactionBulkOperationSpatial" type="tns:GetTransactionBulkOperationSpatial"/>

      <xs:element name="GetTransactionBulkOperationSpatialResponse" type="tns:GetTransactionBulkOperationSpatialResponse"/>

      <xs:element name="OptimisticLockingFault" nillable="true" type="ns13:faultInfoBean"/>

      <xs:element name="RejectTransaction" type="tns:RejectTransaction"/>

      <xs:element name="RejectTransactionResponse" type="tns:RejectTransactionResponse"/>

      <xs:element name="SOLAAccessFault" nillable="true" type="ns13:faultInfoBean"/>

      <xs:element name="SOLAFault" nillable="true" type="ns13:faultInfoBean"/>

      <xs:element name="SOLAValidationFault" nillable="true" type="ns13:faultInfoBean"/>

      <xs:element name="SaveTransactionBulkOperationSource" type="tns:SaveTransactionBulkOperationSource"/>

      <xs:element name="SaveTransactionBulkOperationSourceResponse" type="tns:SaveTransactionBulkOperationSourceResponse"/>

      <xs:element name="SaveTransactionBulkOperationSpatial" type="tns:SaveTransactionBulkOperationSpatial"/>

      <xs:element name="SaveTransactionBulkOperationSpatialResponse" type="tns:SaveTransactionBulkOperationSpatialResponse"/>

      <xs:element name="UnhandledFault" nillable="true" type="ns13:faultInfoBean"/>

      <xs:complexType name="RejectTransaction">
        <xs:sequence>
          <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
          <xs:element name="rowVersion" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="RejectTransactionResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CheckConnection">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="CheckConnectionResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetTransactionBulkOperationSpatial">
        <xs:sequence>
          <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetTransactionBulkOperationSpatialResponse">
        <xs:sequence>
          <xs:element name="return" type="ns10:transactionBulkOperationSpatialTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveTransactionBulkOperationSource">
        <xs:sequence>
          <xs:element name="transactionTO" type="ns10:transactionBulkOperationSourceTO" minOccurs="0"/>
          <xs:element name="languageCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveTransactionBulkOperationSourceResponse">
        <xs:sequence>
          <xs:element name="return" type="ns12:validationResult" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetExtentOfPublicDisplayMap">
        <xs:sequence>
          <xs:element name="nameLastPart" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetExtentOfPublicDisplayMapResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveTransactionBulkOperationSpatial">
        <xs:sequence>
          <xs:element name="transactionTO" type="ns10:transactionBulkOperationSpatialTO" minOccurs="0"/>
          <xs:element name="languageCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveTransactionBulkOperationSpatialResponse">
        <xs:sequence>
          <xs:element name="return" type="ns12:validationResult" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/cadastre/" xmlns:ns14="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="spatialUnitTemporaryTO">
        <xs:complexContent>
          <xs:extension base="ns14:abstractIdTO">
            <xs:sequence>
              <xs:element name="cadastreObjectTypeCode" type="xs:string" minOccurs="0"/>
              <xs:element name="geom" type="xs:base64Binary" minOccurs="0"/>
              <xs:element name="label" type="xs:string" minOccurs="0"/>
              <xs:element name="nameFirstpart" type="xs:string" minOccurs="0"/>
              <xs:element name="nameLastpart" type="xs:string" minOccurs="0"/>
              <xs:element name="officialArea" type="xs:decimal" minOccurs="0"/>
              <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/" xmlns:tns="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="validationResult">
        <xs:sequence>
          <xs:element name="feedback" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="severity" type="xs:string" minOccurs="0"/>
          <xs:element name="successful" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="abstractIdTO">
        <xs:complexContent>
          <xs:extension base="tns:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractVersionedTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractReadWriteTO">
            <xs:sequence>
              <xs:element name="rowId" type="xs:string" minOccurs="0"/>
              <xs:element name="rowVersion" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractReadWriteTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractTO">
            <xs:sequence>
              <xs:element name="entityAction" type="tns:entityAction" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractTO" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:simpleType name="entityAction">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DELETE"/>
          <xs:enumeration value="DISASSOCIATE"/>
          <xs:enumeration value="INSERT"/>
          <xs:enumeration value="UPDATE"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="CheckConnection">
    <part name="parameters" element="tns:CheckConnection"/>
  </message>
  <message name="CheckConnectionResponse">
    <part name="parameters" element="tns:CheckConnectionResponse"/>
  </message>
  <message name="SaveTransactionBulkOperationSource">
    <part name="parameters" element="tns:SaveTransactionBulkOperationSource"/>
  </message>
  <message name="SaveTransactionBulkOperationSourceResponse">
    <part name="parameters" element="tns:SaveTransactionBulkOperationSourceResponse"/>
  </message>
  <message name="SOLAValidationFault">
    <part name="fault" element="tns:SOLAValidationFault"/>
  </message>
  <message name="OptimisticLockingFault">
    <part name="fault" element="tns:OptimisticLockingFault"/>
  </message>
  <message name="SOLAFault">
    <part name="fault" element="tns:SOLAFault"/>
  </message>
  <message name="UnhandledFault">
    <part name="fault" element="tns:UnhandledFault"/>
  </message>
  <message name="SOLAAccessFault">
    <part name="fault" element="tns:SOLAAccessFault"/>
  </message>
  <message name="GetTransactionBulkOperationSpatial">
    <part name="parameters" element="tns:GetTransactionBulkOperationSpatial"/>
  </message>
  <message name="GetTransactionBulkOperationSpatialResponse">
    <part name="parameters" element="tns:GetTransactionBulkOperationSpatialResponse"/>
  </message>
  <message name="SaveTransactionBulkOperationSpatial">
    <part name="parameters" element="tns:SaveTransactionBulkOperationSpatial"/>
  </message>
  <message name="SaveTransactionBulkOperationSpatialResponse">
    <part name="parameters" element="tns:SaveTransactionBulkOperationSpatialResponse"/>
  </message>
  <message name="GetExtentOfPublicDisplayMap">
    <part name="parameters" element="tns:GetExtentOfPublicDisplayMap"/>
  </message>
  <message name="GetExtentOfPublicDisplayMapResponse">
    <part name="parameters" element="tns:GetExtentOfPublicDisplayMapResponse"/>
  </message>
  <message name="RejectTransaction">
    <part name="parameters" element="tns:RejectTransaction"/>
  </message>
  <message name="RejectTransactionResponse">
    <part name="parameters" element="tns:RejectTransactionResponse"/>
  </message>
  <portType name="BulkOperations">
    <operation name="CheckConnection">
      <input wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/CheckConnectionRequest" message="tns:CheckConnection"/>
      <output wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/CheckConnectionResponse" message="tns:CheckConnectionResponse"/>
    </operation>
    <operation name="SaveTransactionBulkOperationSource">
      <input wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSourceRequest" message="tns:SaveTransactionBulkOperationSource"/>
      <output wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSourceResponse" message="tns:SaveTransactionBulkOperationSourceResponse"/>
      <fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSource/Fault/SOLAValidationFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSource/Fault/OptimisticLockingFault"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSource/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSource/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSource/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetTransactionBulkOperationSpatial">
      <input wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/GetTransactionBulkOperationSpatialRequest" message="tns:GetTransactionBulkOperationSpatial"/>
      <output wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/GetTransactionBulkOperationSpatialResponse" message="tns:GetTransactionBulkOperationSpatialResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/GetTransactionBulkOperationSpatial/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/GetTransactionBulkOperationSpatial/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/GetTransactionBulkOperationSpatial/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="SaveTransactionBulkOperationSpatial">
      <input wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSpatialRequest" message="tns:SaveTransactionBulkOperationSpatial"/>
      <output wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSpatialResponse" message="tns:SaveTransactionBulkOperationSpatialResponse"/>
      <fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSpatial/Fault/SOLAValidationFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSpatial/Fault/OptimisticLockingFault"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSpatial/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSpatial/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSpatial/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetExtentOfPublicDisplayMap">
      <input wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/GetExtentOfPublicDisplayMapRequest" message="tns:GetExtentOfPublicDisplayMap"/>
      <output wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/GetExtentOfPublicDisplayMapResponse" message="tns:GetExtentOfPublicDisplayMapResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/GetExtentOfPublicDisplayMap/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/GetExtentOfPublicDisplayMap/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/GetExtentOfPublicDisplayMap/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="RejectTransaction">
      <input wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/RejectTransactionRequest" message="tns:RejectTransaction"/>
      <output wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/RejectTransactionResponse" message="tns:RejectTransactionResponse"/>
      <fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/RejectTransaction/Fault/SOLAValidationFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/RejectTransaction/Fault/OptimisticLockingFault"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/RejectTransaction/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/RejectTransaction/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/RejectTransaction/Fault/SOLAAccessFault"/>
    </operation>
  </portType>
  <binding name="BulkOperationsPortBinding" type="tns:BulkOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="CheckConnection">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SaveTransactionBulkOperationSource">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAValidationFault">
        <soap:fault name="SOLAValidationFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetTransactionBulkOperationSpatial">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="SaveTransactionBulkOperationSpatial">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAValidationFault">
        <soap:fault name="SOLAValidationFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetExtentOfPublicDisplayMap">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="RejectTransaction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAValidationFault">
        <soap:fault name="SOLAValidationFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="bulkoperations-service">
    <port name="BulkOperationsPort" binding="tns:BulkOperationsPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

