BoundaryWebServiceClients/GeneratedCode/wsdl/CadastreService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://webservices.sola.org/cadastre" name="cadastre-service" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservices.sola.org/cadastre" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/cadastre" xmlns:ns2="http://webservices.sola.org/transferobjects/transaction/" xmlns:ns1="http://webservices.sola.org/transferobjects/cadastre/" xmlns:ns4="http://webservices.sola.org/transferobjects/casemanagement/" xmlns:ns3="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns5="http://webservices.sola.org/faults/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/cadastre/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/transaction/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/casemanagement/"/>

      <xs:import namespace="http://webservices.sola.org/faults/"/>

      <xs:element name="CheckConnection" type="tns:CheckConnection"/>

      <xs:element name="CheckConnectionResponse" type="tns:CheckConnectionResponse"/>

      <xs:element name="GetCadastreChange" type="tns:GetCadastreChange"/>

      <xs:element name="GetCadastreChangeById" type="tns:GetCadastreChangeById"/>

      <xs:element name="GetCadastreChangeByIdResponse" type="tns:GetCadastreChangeByIdResponse"/>

      <xs:element name="GetCadastreChangeResponse" type="tns:GetCadastreChangeResponse"/>

      <xs:element name="GetCadastreObjectByAllParts" type="tns:GetCadastreObjectByAllParts"/>

      <xs:element name="GetCadastreObjectByAllPartsResponse" type="tns:GetCadastreObjectByAllPartsResponse"/>

      <xs:element name="GetCadastreObjectByParts" type="tns:GetCadastreObjectByParts"/>

      <xs:element name="GetCadastreObjectByPartsResponse" type="tns:GetCadastreObjectByPartsResponse"/>

      <xs:element name="GetCadastreObjectByPoint" type="tns:GetCadastreObjectByPoint"/>

      <xs:element name="GetCadastreObjectByPointResponse" type="tns:GetCadastreObjectByPointResponse"/>

      <xs:element name="GetCadastreObjectNode" type="tns:GetCadastreObjectNode"/>

      <xs:element name="GetCadastreObjectNodePotential" type="tns:GetCadastreObjectNodePotential"/>

      <xs:element name="GetCadastreObjectNodePotentialResponse" type="tns:GetCadastreObjectNodePotentialResponse"/>

      <xs:element name="GetCadastreObjectNodeResponse" type="tns:GetCadastreObjectNodeResponse"/>

      <xs:element name="GetCadastreObjects" type="tns:GetCadastreObjects"/>

      <xs:element name="GetCadastreObjectsByBaUnit" type="tns:GetCadastreObjectsByBaUnit"/>

      <xs:element name="GetCadastreObjectsByBaUnitResponse" type="tns:GetCadastreObjectsByBaUnitResponse"/>

      <xs:element name="GetCadastreObjectsByService" type="tns:GetCadastreObjectsByService"/>

      <xs:element name="GetCadastreObjectsByServiceResponse" type="tns:GetCadastreObjectsByServiceResponse"/>

      <xs:element name="GetCadastreObjectsResponse" type="tns:GetCadastreObjectsResponse"/>

      <xs:element name="GetCadastreRedefinition" type="tns:GetCadastreRedefinition"/>

      <xs:element name="GetCadastreRedefinitionResponse" type="tns:GetCadastreRedefinitionResponse"/>

      <xs:element name="GetNewCadastreObjectIdentifier" type="tns:GetNewCadastreObjectIdentifier"/>

      <xs:element name="GetNewCadastreObjectIdentifierResponse" type="tns:GetNewCadastreObjectIdentifierResponse"/>

      <xs:element name="GetSpatialUnitGroupByAllParts" type="tns:GetSpatialUnitGroupByAllParts"/>

      <xs:element name="GetSpatialUnitGroupByAllPartsResponse" type="tns:GetSpatialUnitGroupByAllPartsResponse"/>

      <xs:element name="GetSpatialUnitGroupByParts" type="tns:GetSpatialUnitGroupByParts"/>

      <xs:element name="GetSpatialUnitGroupByPartsResponse" type="tns:GetSpatialUnitGroupByPartsResponse"/>

      <xs:element name="GetSpatialValueArea" type="tns:GetSpatialValueArea"/>

      <xs:element name="GetSpatialValueAreaResponse" type="tns:GetSpatialValueAreaResponse"/>

      <xs:element name="OptimisticLockingFault" nillable="true" type="ns5:faultInfoBean"/>

      <xs:element name="SOLAAccessFault" nillable="true" type="ns5:faultInfoBean"/>

      <xs:element name="SOLAFault" nillable="true" type="ns5:faultInfoBean"/>

      <xs:element name="SOLAValidationFault" nillable="true" type="ns5:faultInfoBean"/>

      <xs:element name="SaveCadastreChange" type="tns:SaveCadastreChange"/>

      <xs:element name="SaveCadastreChangeResponse" type="tns:SaveCadastreChangeResponse"/>

      <xs:element name="SaveCadastreRedefinition" type="tns:SaveCadastreRedefinition"/>

      <xs:element name="SaveCadastreRedefinitionResponse" type="tns:SaveCadastreRedefinitionResponse"/>

      <xs:element name="UnhandledFault" nillable="true" type="ns5:faultInfoBean"/>

      <xs:complexType name="GetCadastreRedefinition">
        <xs:sequence>
          <xs:element name="serviceId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreRedefinitionResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:transactionCadastreRedefinitionTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveCadastreChange">
        <xs:sequence>
          <xs:element name="transactionCadastreChangeTO" type="ns2:transactionCadastreChangeTO" minOccurs="0"/>
          <xs:element name="languageCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveCadastreChangeResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:validationResult" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjectByAllParts">
        <xs:sequence>
          <xs:element name="searchString" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjectByAllPartsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:cadastreObjectTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CheckConnection">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="CheckConnectionResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjects">
        <xs:sequence>
          <xs:element name="ids" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjectsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:cadastreObjectTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjectNode">
        <xs:sequence>
          <xs:element name="xMin" type="xs:double"/>
          <xs:element name="yMin" type="xs:double"/>
          <xs:element name="xMax" type="xs:double"/>
          <xs:element name="yMax" type="xs:double"/>
          <xs:element name="srid" type="xs:int"/>
          <xs:element name="cadastreObjectType" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjectNodeResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:cadastreObjectNodeTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetSpatialUnitGroupByParts">
        <xs:sequence>
          <xs:element name="searchString" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetSpatialUnitGroupByPartsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:spatialUnitGroupTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveCadastreRedefinition">
        <xs:sequence>
          <xs:element name="transactionCadastreRedefinitionTO" type="ns2:transactionCadastreRedefinitionTO" minOccurs="0"/>
          <xs:element name="languageCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SaveCadastreRedefinitionResponse">
        <xs:sequence>
          <xs:element name="return" type="ns3:validationResult" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjectNodePotential">
        <xs:sequence>
          <xs:element name="xMin" type="xs:double"/>
          <xs:element name="yMin" type="xs:double"/>
          <xs:element name="xMax" type="xs:double"/>
          <xs:element name="yMax" type="xs:double"/>
          <xs:element name="srid" type="xs:int"/>
          <xs:element name="cadastreObjectType" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjectNodePotentialResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:cadastreObjectNodeTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetSpatialValueArea">
        <xs:sequence>
          <xs:element name="colist" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetSpatialValueAreaResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:spatialValueAreaTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjectByParts">
        <xs:sequence>
          <xs:element name="searchString" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjectByPartsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:cadastreObjectTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreChangeById">
        <xs:sequence>
          <xs:element name="id" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreChangeByIdResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:transactionCadastreChangeTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetNewCadastreObjectIdentifier">
        <xs:sequence>
          <xs:element name="geom" type="xs:base64Binary" nillable="true" minOccurs="0"/>
          <xs:element name="cadastreObjectType" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetNewCadastreObjectIdentifierResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:newCadastreObjectIdentifier" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="newCadastreObjectIdentifier">
        <xs:sequence>
          <xs:element name="firstPart" type="xs:string" minOccurs="0"/>
          <xs:element name="lastPart" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreChange">
        <xs:sequence>
          <xs:element name="serviceId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreChangeResponse">
        <xs:sequence>
          <xs:element name="return" type="ns2:transactionCadastreChangeTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjectByPoint">
        <xs:sequence>
          <xs:element name="x" type="xs:double"/>
          <xs:element name="y" type="xs:double"/>
          <xs:element name="srid" type="xs:int"/>
          <xs:element name="cadastreObjectType" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjectByPointResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:cadastreObjectTO" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjectsByBaUnit">
        <xs:sequence>
          <xs:element name="baUnitId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjectsByBaUnitResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:cadastreObjectTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetSpatialUnitGroupByAllParts">
        <xs:sequence>
          <xs:element name="searchString" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetSpatialUnitGroupByAllPartsResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:spatialUnitGroupTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjectsByService">
        <xs:sequence>
          <xs:element name="serviceId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="GetCadastreObjectsByServiceResponse">
        <xs:sequence>
          <xs:element name="return" type="ns1:cadastreObjectTO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/cadastre/" xmlns:tns="http://webservices.sola.org/transferobjects/cadastre/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns6="http://webservices.sola.org/transferobjects/" xmlns:ns7="http://webservices.sola.org/transferobjects/casemanagement/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/casemanagement/"/>

      <xs:complexType name="cadastreObjectNodeTargetTO">
        <xs:complexContent>
          <xs:extension base="ns6:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="geom" type="xs:base64Binary" minOccurs="0"/>
              <xs:element name="nodeId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="cadastreObjectTargetRedefinitionTO">
        <xs:complexContent>
          <xs:extension base="tns:cadastreObjectTargetTO">
            <xs:sequence>
              <xs:element name="geomPolygon" type="xs:base64Binary" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="cadastreObjectTargetTO">
        <xs:complexContent>
          <xs:extension base="ns6:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="cadastreObjectId" type="xs:string" minOccurs="0"/>
              <xs:element name="geomPolygonCurrent" type="xs:base64Binary" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="cadastreObjectTO">
        <xs:complexContent>
          <xs:extension base="ns6:abstractIdTO">
            <xs:sequence>
              <xs:element name="addressList" type="ns7:addressTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="approvalDatetime" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="geomPolygon" type="xs:base64Binary" minOccurs="0"/>
              <xs:element name="historicDatetime" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="landUseCode" type="xs:string" minOccurs="0"/>
              <xs:element name="nameFirstpart" type="xs:string" minOccurs="0"/>
              <xs:element name="nameLastpart" type="xs:string" minOccurs="0"/>
              <xs:element name="sourceReference" type="xs:string" minOccurs="0"/>
              <xs:element name="spatialValueAreaList" type="tns:spatialValueAreaTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
              <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="spatialValueAreaTO">
        <xs:complexContent>
          <xs:extension base="ns6:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="calculatedAreaSize" type="xs:decimal" minOccurs="0"/>
              <xs:element name="size" type="xs:decimal" minOccurs="0"/>
              <xs:element name="spatialUnitId" type="xs:string" minOccurs="0"/>
              <xs:element name="typeCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="surveyPointTO">
        <xs:complexContent>
          <xs:extension base="ns6:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="boundary" type="xs:boolean"/>
              <xs:element name="geom" type="xs:base64Binary" minOccurs="0"/>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
              <xs:element name="linked" type="xs:boolean"/>
              <xs:element name="originalGeom" type="xs:base64Binary" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="cadastreObjectNodeTO">
        <xs:complexContent>
          <xs:extension base="ns6:abstractTO">
            <xs:sequence>
              <xs:element name="cadastreObjectList" type="tns:cadastreObjectTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="geom" type="xs:base64Binary" minOccurs="0"/>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="spatialUnitGroupTO">
        <xs:complexContent>
          <xs:extension base="ns6:abstractIdTO">
            <xs:sequence>
              <xs:element name="foundInSpatialId" type="xs:string" minOccurs="0"/>
              <xs:element name="geom" type="xs:base64Binary" minOccurs="0"/>
              <xs:element name="hierarchyLevel" type="xs:int" minOccurs="0"/>
              <xs:element name="label" type="xs:string" minOccurs="0"/>
              <xs:element name="name" type="xs:string" minOccurs="0"/>
              <xs:element name="referencePoint" type="xs:base64Binary" minOccurs="0"/>
              <xs:element name="seqNr" type="xs:int" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/" xmlns:tns="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:complexType name="abstractIdTO">
        <xs:complexContent>
          <xs:extension base="tns:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractVersionedTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractReadWriteTO">
            <xs:sequence>
              <xs:element name="rowId" type="xs:string" minOccurs="0"/>
              <xs:element name="rowVersion" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractReadWriteTO" abstract="true">
        <xs:complexContent>
          <xs:extension base="tns:abstractTO">
            <xs:sequence>
              <xs:element name="entityAction" type="tns:entityAction" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="abstractTO" abstract="true">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="validationResult">
        <xs:sequence>
          <xs:element name="feedback" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="xs:string" minOccurs="0"/>
          <xs:element name="severity" type="xs:string" minOccurs="0"/>
          <xs:element name="successful" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="entityAction">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DELETE"/>
          <xs:enumeration value="DISASSOCIATE"/>
          <xs:enumeration value="INSERT"/>
          <xs:enumeration value="UPDATE"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/faults/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns8="http://webservices.sola.org/transferobjects/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="faultInfoBean">
        <xs:sequence>
          <xs:element name="faultId" type="xs:string" minOccurs="0"/>
          <xs:element name="messageCode" type="xs:string" minOccurs="0"/>
          <xs:element name="messageParameters" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="validationResultList" type="ns8:validationResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/casemanagement/" xmlns:ns9="http://webservices.sola.org/transferobjects/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:complexType name="addressTO">
        <xs:complexContent>
          <xs:extension base="ns9:abstractIdTO">
            <xs:sequence>
              <xs:element name="description" type="xs:string" minOccurs="0"/>
              <xs:element name="extAddressId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
    <xs:schema version="1.0" targetNamespace="http://webservices.sola.org/transferobjects/transaction/" xmlns:tns="http://webservices.sola.org/transferobjects/transaction/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns12="http://webservices.sola.org/transferobjects/casemanagement/" xmlns:ns10="http://webservices.sola.org/transferobjects/cadastre/" xmlns:ns11="http://webservices.sola.org/transferobjects/">

      <xs:import namespace="http://webservices.sola.org/transferobjects/cadastre/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/"/>

      <xs:import namespace="http://webservices.sola.org/transferobjects/casemanagement/"/>

      <xs:complexType name="transactionCadastreRedefinitionTO">
        <xs:complexContent>
          <xs:extension base="tns:transactionTO">
            <xs:sequence>
              <xs:element name="cadastreObjectNodeTargetList" type="ns10:cadastreObjectNodeTargetTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="cadastreObjectTargetList" type="ns10:cadastreObjectTargetRedefinitionTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="transactionSourceList" type="tns:transactionSourceTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="transactionTO">
        <xs:complexContent>
          <xs:extension base="ns11:abstractIdTO">
            <xs:sequence>
              <xs:element name="approvalDatetime" type="xs:dateTime" minOccurs="0"/>
              <xs:element name="fromServiceId" type="xs:string" minOccurs="0"/>
              <xs:element name="statusCode" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="transactionSourceTO">
        <xs:complexContent>
          <xs:extension base="ns11:abstractVersionedTO">
            <xs:sequence>
              <xs:element name="sourceId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="transactionCadastreChangeTO">
        <xs:complexContent>
          <xs:extension base="tns:transactionTO">
            <xs:sequence>
              <xs:element name="cadastreObjectList" type="ns10:cadastreObjectTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="cadastreObjectTargetList" type="ns10:cadastreObjectTargetTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="surveyPointList" type="ns10:surveyPointTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="transactionSourceList" type="tns:transactionSourceTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="GetCadastreObjectByParts">
    <part name="parameters" element="tns:GetCadastreObjectByParts"/>
  </message>
  <message name="GetCadastreObjectByPartsResponse">
    <part name="parameters" element="tns:GetCadastreObjectByPartsResponse"/>
  </message>
  <message name="SOLAFault">
    <part name="fault" element="tns:SOLAFault"/>
  </message>
  <message name="UnhandledFault">
    <part name="fault" element="tns:UnhandledFault"/>
  </message>
  <message name="SOLAAccessFault">
    <part name="fault" element="tns:SOLAAccessFault"/>
  </message>
  <message name="GetCadastreObjectByPoint">
    <part name="parameters" element="tns:GetCadastreObjectByPoint"/>
  </message>
  <message name="GetCadastreObjectByPointResponse">
    <part name="parameters" element="tns:GetCadastreObjectByPointResponse"/>
  </message>
  <message name="SaveCadastreRedefinition">
    <part name="parameters" element="tns:SaveCadastreRedefinition"/>
  </message>
  <message name="SaveCadastreRedefinitionResponse">
    <part name="parameters" element="tns:SaveCadastreRedefinitionResponse"/>
  </message>
  <message name="SOLAValidationFault">
    <part name="fault" element="tns:SOLAValidationFault"/>
  </message>
  <message name="OptimisticLockingFault">
    <part name="fault" element="tns:OptimisticLockingFault"/>
  </message>
  <message name="CheckConnection">
    <part name="parameters" element="tns:CheckConnection"/>
  </message>
  <message name="CheckConnectionResponse">
    <part name="parameters" element="tns:CheckConnectionResponse"/>
  </message>
  <message name="GetCadastreObjects">
    <part name="parameters" element="tns:GetCadastreObjects"/>
  </message>
  <message name="GetCadastreObjectsResponse">
    <part name="parameters" element="tns:GetCadastreObjectsResponse"/>
  </message>
  <message name="GetCadastreObjectNode">
    <part name="parameters" element="tns:GetCadastreObjectNode"/>
  </message>
  <message name="GetCadastreObjectNodeResponse">
    <part name="parameters" element="tns:GetCadastreObjectNodeResponse"/>
  </message>
  <message name="GetSpatialValueArea">
    <part name="parameters" element="tns:GetSpatialValueArea"/>
  </message>
  <message name="GetSpatialValueAreaResponse">
    <part name="parameters" element="tns:GetSpatialValueAreaResponse"/>
  </message>
  <message name="GetCadastreObjectsByBaUnit">
    <part name="parameters" element="tns:GetCadastreObjectsByBaUnit"/>
  </message>
  <message name="GetCadastreObjectsByBaUnitResponse">
    <part name="parameters" element="tns:GetCadastreObjectsByBaUnitResponse"/>
  </message>
  <message name="GetCadastreObjectsByService">
    <part name="parameters" element="tns:GetCadastreObjectsByService"/>
  </message>
  <message name="GetCadastreObjectsByServiceResponse">
    <part name="parameters" element="tns:GetCadastreObjectsByServiceResponse"/>
  </message>
  <message name="GetSpatialUnitGroupByParts">
    <part name="parameters" element="tns:GetSpatialUnitGroupByParts"/>
  </message>
  <message name="GetSpatialUnitGroupByPartsResponse">
    <part name="parameters" element="tns:GetSpatialUnitGroupByPartsResponse"/>
  </message>
  <message name="GetCadastreObjectByAllParts">
    <part name="parameters" element="tns:GetCadastreObjectByAllParts"/>
  </message>
  <message name="GetCadastreObjectByAllPartsResponse">
    <part name="parameters" element="tns:GetCadastreObjectByAllPartsResponse"/>
  </message>
  <message name="GetCadastreChange">
    <part name="parameters" element="tns:GetCadastreChange"/>
  </message>
  <message name="GetCadastreChangeResponse">
    <part name="parameters" element="tns:GetCadastreChangeResponse"/>
  </message>
  <message name="SaveCadastreChange">
    <part name="parameters" element="tns:SaveCadastreChange"/>
  </message>
  <message name="SaveCadastreChangeResponse">
    <part name="parameters" element="tns:SaveCadastreChangeResponse"/>
  </message>
  <message name="GetCadastreRedefinition">
    <part name="parameters" element="tns:GetCadastreRedefinition"/>
  </message>
  <message name="GetCadastreRedefinitionResponse">
    <part name="parameters" element="tns:GetCadastreRedefinitionResponse"/>
  </message>
  <message name="GetNewCadastreObjectIdentifier">
    <part name="parameters" element="tns:GetNewCadastreObjectIdentifier"/>
  </message>
  <message name="GetNewCadastreObjectIdentifierResponse">
    <part name="parameters" element="tns:GetNewCadastreObjectIdentifierResponse"/>
  </message>
  <message name="GetSpatialUnitGroupByAllParts">
    <part name="parameters" element="tns:GetSpatialUnitGroupByAllParts"/>
  </message>
  <message name="GetSpatialUnitGroupByAllPartsResponse">
    <part name="parameters" element="tns:GetSpatialUnitGroupByAllPartsResponse"/>
  </message>
  <message name="GetCadastreChangeById">
    <part name="parameters" element="tns:GetCadastreChangeById"/>
  </message>
  <message name="GetCadastreChangeByIdResponse">
    <part name="parameters" element="tns:GetCadastreChangeByIdResponse"/>
  </message>
  <message name="GetCadastreObjectNodePotential">
    <part name="parameters" element="tns:GetCadastreObjectNodePotential"/>
  </message>
  <message name="GetCadastreObjectNodePotentialResponse">
    <part name="parameters" element="tns:GetCadastreObjectNodePotentialResponse"/>
  </message>
  <portType name="Cadastre">
    <operation name="GetCadastreObjectByParts">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByPartsRequest" message="tns:GetCadastreObjectByParts"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByPartsResponse" message="tns:GetCadastreObjectByPartsResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByParts/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByParts/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByParts/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetCadastreObjectByPoint">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByPointRequest" message="tns:GetCadastreObjectByPoint"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByPointResponse" message="tns:GetCadastreObjectByPointResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByPoint/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByPoint/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByPoint/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="SaveCadastreRedefinition">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreRedefinitionRequest" message="tns:SaveCadastreRedefinition"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreRedefinitionResponse" message="tns:SaveCadastreRedefinitionResponse"/>
      <fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreRedefinition/Fault/SOLAValidationFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreRedefinition/Fault/OptimisticLockingFault"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreRedefinition/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreRedefinition/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreRedefinition/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="CheckConnection">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/CheckConnectionRequest" message="tns:CheckConnection"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/CheckConnectionResponse" message="tns:CheckConnectionResponse"/>
    </operation>
    <operation name="GetCadastreObjects">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsRequest" message="tns:GetCadastreObjects"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsResponse" message="tns:GetCadastreObjectsResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjects/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjects/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjects/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetCadastreObjectNode">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNodeRequest" message="tns:GetCadastreObjectNode"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNodeResponse" message="tns:GetCadastreObjectNodeResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNode/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNode/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNode/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetSpatialValueArea">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialValueAreaRequest" message="tns:GetSpatialValueArea"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialValueAreaResponse" message="tns:GetSpatialValueAreaResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialValueArea/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialValueArea/Fault/UnhandledFault"/>
    </operation>
    <operation name="GetCadastreObjectsByBaUnit">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByBaUnitRequest" message="tns:GetCadastreObjectsByBaUnit"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByBaUnitResponse" message="tns:GetCadastreObjectsByBaUnitResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByBaUnit/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByBaUnit/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByBaUnit/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetCadastreObjectsByService">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByServiceRequest" message="tns:GetCadastreObjectsByService"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByServiceResponse" message="tns:GetCadastreObjectsByServiceResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByService/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByService/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByService/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetSpatialUnitGroupByParts">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialUnitGroupByPartsRequest" message="tns:GetSpatialUnitGroupByParts"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialUnitGroupByPartsResponse" message="tns:GetSpatialUnitGroupByPartsResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialUnitGroupByParts/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialUnitGroupByParts/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialUnitGroupByParts/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetCadastreObjectByAllParts">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByAllPartsRequest" message="tns:GetCadastreObjectByAllParts"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByAllPartsResponse" message="tns:GetCadastreObjectByAllPartsResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByAllParts/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByAllParts/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByAllParts/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetCadastreChange">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChangeRequest" message="tns:GetCadastreChange"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChangeResponse" message="tns:GetCadastreChangeResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChange/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChange/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChange/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="SaveCadastreChange">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreChangeRequest" message="tns:SaveCadastreChange"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreChangeResponse" message="tns:SaveCadastreChangeResponse"/>
      <fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreChange/Fault/SOLAValidationFault"/>
      <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreChange/Fault/OptimisticLockingFault"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreChange/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreChange/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreChange/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetCadastreRedefinition">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreRedefinitionRequest" message="tns:GetCadastreRedefinition"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreRedefinitionResponse" message="tns:GetCadastreRedefinitionResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreRedefinition/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreRedefinition/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreRedefinition/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetNewCadastreObjectIdentifier">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetNewCadastreObjectIdentifierRequest" message="tns:GetNewCadastreObjectIdentifier"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetNewCadastreObjectIdentifierResponse" message="tns:GetNewCadastreObjectIdentifierResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetNewCadastreObjectIdentifier/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetNewCadastreObjectIdentifier/Fault/UnhandledFault"/>
    </operation>
    <operation name="GetSpatialUnitGroupByAllParts">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialUnitGroupByAllPartsRequest" message="tns:GetSpatialUnitGroupByAllParts"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialUnitGroupByAllPartsResponse" message="tns:GetSpatialUnitGroupByAllPartsResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialUnitGroupByAllParts/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialUnitGroupByAllParts/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialUnitGroupByAllParts/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetCadastreChangeById">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChangeByIdRequest" message="tns:GetCadastreChangeById"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChangeByIdResponse" message="tns:GetCadastreChangeByIdResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChangeById/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChangeById/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChangeById/Fault/SOLAAccessFault"/>
    </operation>
    <operation name="GetCadastreObjectNodePotential">
      <input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNodePotentialRequest" message="tns:GetCadastreObjectNodePotential"/>
      <output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNodePotentialResponse" message="tns:GetCadastreObjectNodePotentialResponse"/>
      <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNodePotential/Fault/SOLAFault"/>
      <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNodePotential/Fault/UnhandledFault"/>
      <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNodePotential/Fault/SOLAAccessFault"/>
    </operation>
  </portType>
  <binding name="CadastrePortBinding" type="tns:Cadastre">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="GetCadastreObjectByParts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCadastreObjectByPoint">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="SaveCadastreRedefinition">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAValidationFault">
        <soap:fault name="SOLAValidationFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CheckConnection">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetCadastreObjects">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCadastreObjectNode">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetSpatialValueArea">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCadastreObjectsByBaUnit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCadastreObjectsByService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetSpatialUnitGroupByParts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCadastreObjectByAllParts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCadastreChange">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="SaveCadastreChange">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAValidationFault">
        <soap:fault name="SOLAValidationFault" use="literal"/>
      </fault>
      <fault name="OptimisticLockingFault">
        <soap:fault name="OptimisticLockingFault" use="literal"/>
      </fault>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCadastreRedefinition">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetNewCadastreObjectIdentifier">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetSpatialUnitGroupByAllParts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCadastreChangeById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCadastreObjectNodePotential">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SOLAFault">
        <soap:fault name="SOLAFault" use="literal"/>
      </fault>
      <fault name="UnhandledFault">
        <soap:fault name="UnhandledFault" use="literal"/>
      </fault>
      <fault name="SOLAAccessFault">
        <soap:fault name="SOLAAccessFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="cadastre-service">
    <port name="CadastrePort" binding="tns:CadastrePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

